<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="menu-sidenav" mode="side">
    <p>{{title}}</p>
    <p *ngIf="showFiller">Aula 05 de Angular</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Exibe Texto
    </button>
  </mat-drawer>
    <div class="sidenav-content">
      <button type="button" mat-raised-button (click)="drawer.toggle()">Click</button>
      <router-outlet></router-outlet>
    </div>

</mat-drawer-container>

<!-- Versão do professor -->
<!-- <mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="menu-sidenav" mode="side">
    <p>{{title}}</p>
    <p *ngIf="showFiller">Aula 05 de Angular</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Exibe texto
    </button>
  </mat-drawer>
  <div class="sidenav-content">
    <button type="button" mat-raised-button (click)="drawer.toggle()">Click</button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container> -->
